<footer>
    <br>
    <hr>
    <div class="f-info" style="text-align: center;">
        <div class="f-brandname">
            <h6>&copy AnyRooms</h6>
        </div>
        <div class="f-socials mb-3">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
    </div>
</footer>