<footer>
  <br />
  <hr />
  <div class="f-info" style="text-align: center">
    <div class="f-brandname">
      <h6>&copy ApnaRooms</h6>
    </div>
    <div class="f-socials mb-3">
      <a
        href="https://feedbacker-git-main-manoranjanheres-projects.vercel.app/u/Apnarooms_by_Mano"
        >All feedbacks and request here</a
      >
    </div>
  </div>
</footer>
