<link rel="stylesheet" href="/css/style.css">
<nav class="navbar sticky-top navbar-expand-md bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-between">
    <div>
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-house d-inline-block "></i></i> &nbsp;
        ApnaRooms</a>
    </div>
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse"  id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%if(!currUser ){%>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </li>
        <%}%>
        <%if(currUser){%>
        <%if(currUser.role===1||currUser.role===2){%>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/listings/new">Create New Listing</a>
          </li>
          <%}%>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
        </li>
        <%}%>
    </div>
    </div>
  </div>
</nav>