<% layout("/layouts/boilerplate.ejs") -%>

    <body>
        <div class="row">
            <div class="alert alert-danger d-flex align-items-center col-6 offset-3" role="alert"
                style="justify-content: center">
                <div style="padding: 3rem 0">
                    <h6><%= message %>
                    </h6>
                </div>
            </div>
        </div>
        <form action="/listings">
        <div class="d-grid gap-2 col-2 mx-auto" style="margin-top: 50px;">
            <button class="btn btn-danger" type="submit">Home</button>
        </div>
    </form>
    </body>