.container{
    margin: 0;
}

/* navbar */

.fa-compass{
    color: red;
    font-size: 1.5rem;
}

.navbar{
    height: 5rem;
    font-size: 1.3rem;
}

/* footer */

.f-info{
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.f-brandname h6{
    font-size:1rem;
}
.f-socials .fa-brands{
    font-size: 1rem;
}

/* index */
