.container
{
    border: solid 2px black;
}
.image img{
    border-radius: 150px;
    margin: 50px 200px;
}
.hero
{
    display: flex;
    justify-content: space-between;
}
.name
{
    display: flex;
    align-items: center;
    margin-right: 300px;
}