body{
    background-color: rgb(211, 210, 210);
}
table{
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
}
th{
    border: 2px solid grey;
    padding: 2vw;
}
td
{
    border: 2px solid grey;
    padding: 1vw;
}
.att
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 30px;
    padding: 20px;
}
.time
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 10px;
}
td:hover
{
    background-color: white;
}
th:hover
{
    background-color: rgb(232, 242, 229);
}
th:hover
{
    background-color: rgb(232, 242, 229);
}
